.post-image {
  display: block;
  margin: 1rem auto;
  width: 200px;
  height: 200px;
}

.btn-default {
  width: 40%;
  text-align: left;
}

.pick-image-file-text {
  font-size: smaller;
  color: #ff4081;
}

.email-checkbox{
  margin-right: 15px;
}

.chosen-images-preview {
  padding-right: 2px;
  padding-bottom: 2px;
}






