.drawer-container {
  width: 15%;
}

.side-filter {
  margin-left: 10px;
  position: sticky;
  top: 100px;
}

@media(max-width: 600px){
  .side-filter, .drawer-container{
    display: none;
  }
}

.main-filter-mobile-devices {
  visibility: hidden;
}
@media (max-width: 600px) {
  .main-filter-mobile-devices {
    visibility: visible;
    margin-left: 10px;
  }

}


.index-page {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding-top: 3rem;
}

@media (max-width: 600px) {
  .index-page{
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 3rem;
  }

}

.post-card {
  display: block;
  margin: 2rem auto;
  width: 80%;
}

.is-liked {
  color: darkred;
}

.not-liked {
  color: grey;
}

.my-paginator {
  color: #4051b6;
}

.thumbnail-zero, .thumbnail-one, .thumbnail-two, .thumbnail-three {
  height: 60px;
  padding-right: 4px;
  padding-bottom: 10px;
}

.page-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-page, .second-page, .third-page, .fourth-page {
  margin-top: 10px;
  margin-right: 10px;
  color: #ffffff;
  background-color: #4051b6;
  border: transparent;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
  color: #4051b6;
}





