<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened class="drawer-container">

    <h4></h4>
    <mat-form-field class="side-filter" appearance="standard">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="category" name="selected-category">
        <mat-option *ngFor="let cat of categories" [value]="cat.viewValue"
                    (click)="showPostsForCurrentPageByCategory(lowValue, highValue, cat.viewValue)">
          {{cat.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-drawer>
  <mat-drawer-content>

    <div *ngIf="isPostsLoaded" class="index-page-guest">
      <mat-card class="post-card" *ngFor="let post of posts; let i = index">
        <mat-card-header style="text-align: left">
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{post.title}}</mat-card-title>
          <mat-card-subtitle>{{post.location}} |
            <div *ngIf="post.status == 'ON SALE'; then onSale; else soldOut;"></div>
            |
            {{post.price}} EUR
          </mat-card-subtitle>
        </mat-card-header>
        <div class="no-images" *ngIf="post.image.length === 0">
          <img mat-card-image [src]="'assets/images/no_image.png'" alt="post image">
        </div>


        <div class="has-images" *ngIf="post.image.length > 0">
          <img mat-card-image *ngIf="!post.isImageThumbnailTouched; then isNotTouched; else isTouched">
          <div class="thumbnails">

            <img *ngIf="post.image[0]" class="thumbnail-zero" [src]= "'https://api.surfspot.ee/' + formatImagePath(post.image[0]).toString() + '/images'"
                 (click)="changeMainImg('https://api.surfspot.ee/' + formatImagePath(post.image[0]) + '/images', i)">

            <img *ngIf="post.image[1]" class="thumbnail-one" [src]="(post.image[1])"
                 (click)="changeMainImg((post.image[1]), i)">

            <img *ngIf="post.image[2]" class="thumbnail-two" [src]="(post.image[2])"
                 (click)="changeMainImg((post.image[2]), i)">

            <img *ngIf="post.image[3]" class="thumbnail-three" [src]="(post.image[3])"
                 (click)="changeMainImg((post.image[3]), i)">
          </div>
        </div>

        <ng-template #isNotTouched><img mat-card-image [src]="('https://api.surfspot.ee/' + formatImagePath(post.image[0]) + '/images')"></ng-template>
        <ng-template #isTouched><img mat-card-image [src]="post.mainImage"></ng-template>



        <mat-card-subtitle align="start">Posted by {{post.userName}} on {{post.createdDate}}</mat-card-subtitle>
        <mat-card-content>
          <p>{{post.caption}}</p>

          <ng-template #showMail><span style="color: #4051b6"><a href="mailto:{{post.email}}">{{post.email}}</a></span>
          </ng-template>
          <ng-template #hideMail></ng-template>


          <div *ngIf="post.showMail; then showMail; else hideMail;"></div>

          <ng-template #showPhoneAndPipe> | <span style="color: #4051b6"><a href="tel:{{post.phone}}">{{post.phone}}</a></span>
          </ng-template>
          <ng-template #showPhone><span style="color: #4051b6"><a href="tel:{{post.phone}}">{{post.phone}}</a></span>
          </ng-template>
          <ng-template #hidePhone></ng-template>
          <div *ngIf="post.showPhone && !post.showMail; then showPhone; else hidePhone;"></div>
          <div *ngIf="post.showPhone && post.showMail; then showPhoneAndPipe; else hidePhone;"></div>

        </mat-card-content>

        <mat-card-actions class="like-icon" align="start">

          <button matTooltip="login to like the post" routerLink="/welcome" mat-icon-button>
            <mat-icon>favorite</mat-icon>
<!--            Like-->
          </button>
        </mat-card-actions>

        <div style="text-align: left">
          <p *ngFor="let comment of post.comments"><span
            style="font-weight: 500">{{comment.userName}}</span>: {{comment.message}}</p>
        </div>


        <mat-card-actions class="comment-icon" align="start">

          <button matTooltip="login to comment the post" routerLink="/welcome" mat-icon-button>
            <mat-icon>comment</mat-icon>
<!--            Comment-->
          </button>
        </mat-card-actions>

      </mat-card>
    </div>


  </mat-drawer-content>
</mat-drawer-container>

<div *ngIf="!categorySelected" class="page-buttons">
  <button *ngIf="posts.length > btnOneHigh" class="first-page" (click)="showPostsForCurrentPage(btnOneLow, btnOneHigh)">
    1
  </button>
  <button *ngIf="posts.length > btnOneHigh" class="second-page"
          (click)="showPostsForCurrentPage(btnTwoLow, btnTwoHigh)">2
  </button>
  <button *ngIf="posts.length > btnTwoHigh" class="third-page"
          (click)="showPostsForCurrentPage(btnThreeLow, btnThreeHigh)">3
  </button>
  <button *ngIf="posts.length > btnThreeHigh" class="fourth-page"
          (click)="showPostsForCurrentPage(btnFourLow, btnFourHigh)">4
  </button>
</div>


<ng-template #onSale><span style="color: limegreen">ON SALE</span></ng-template>
<ng-template #soldOut><span style="color: red">SOLD OUT</span></ng-template>

