.post-card {
  display: block;
  margin: 1rem auto;
  width: 100%;
}
button {
  color: #4051b6;
  margin-bottom: 20px;
}
button:active{
  border: none;
}

.thumbnail-zero, .thumbnail-one, .thumbnail-two, .thumbnail-three {
  height: 60px;
  padding-right: 4px;
  padding-bottom: 10px;
}



